* {
    box-sizing: border-box;
    background-color: antiquewhite;
}

.headings {
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 200px;
    height: 150px;
    transition: all 0.6s;
}

img:hover {
    transform:scale(1.1);
}

.container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.recipe-cards {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.recipe-cards h2 {
    text-align: center;
    font-size: small;
}